.App {
  text-align: center;
}

.App-header {
}

.Country {
  text-align: center;
  padding-top: 0px;
  vertical-align: middle;
}

.CountryName {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 12px;
  margin-left: 12px;
  vertical-align: middle;
}

.CountryFlag {
  height: 5vmin;
  margin-left: 12px;
  pointer-events: none;
  vertical-align: middle;
}

.MedalCount {
  text-transform: capitalize;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 12px;
  margin-left: 12px;
  vertical-align: middle;
}

.IncrMedalButtom {
  margin-left: 10px;
  width: 250px;
  height: 100px;
  vertical-align: middle;
}
